<h1>Editar Categoria</h1>

<%= render "form", category: @category %>

<%= link_to "Ver Categoria", @category, class: "btn btn-info" %> |
<%= link_to "Voltar para Categorias", categories_path, class: "btn btn-light" %>

