<h1>Editar Transação</h1>

<%= render "form", transaction: @transaction %>

<%= link_to "Ver Transação", @transaction, class: "btn btn-info" %> |
<%= link_to "Voltar para Transações", transactions_path, class: "btn btn-light" %>

